@use "../../styles/breakpoints" as breakpoints;

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.hint {
  font-size: 12px;
  color: var(--mantine-color-dimmed);
}

.error {
  font-size: 12px;
  color: var(--mantine-color-red-6);
  font-weight: 600;
}

@include breakpoints.s {
  .formGroup {
    max-width: 24;
  }
}